<ion-header>
  <ion-toolbar color="danger">

    <ion-title>
      Card Details
    </ion-title>

    <ion-button color="danger" size="small" slot="end" [routerLink]="['/home']">
      <ion-icon name="home"></ion-icon>
    </ion-button>

    <ion-button routerLink="/home" color="danger">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding"><br>
    <ion-button expand="full" color="dark" (click)="pay()">
      <a href="https://payout.maya.ph/"><ion-icon name="card-outline"></ion-icon></a>
    </ion-button>
    <ion-button expand="full" color="dark" (click)="pay()">
      <a href="https://m.gcash.com/gcashapp/gcash-promotion-web/2.0.0/index.html#/"><ion-icon name="cash-outline"></ion-icon></a>
    </ion-button>
    
  </div>
</ion-content>
