<ion-header>
  <ion-toolbar color="danger">

    <ion-title>
      Card Details
    </ion-title>

    <ion-button color="dark" size="small" slot="end" [routerLink]="['/home']">
      Home <ion-icon name="home"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-input [(ngModel)]="cardinfo.number" placeholder="Reference No.:"></ion-input>
    <ion-input [(ngModel)]="cardinfo.expMonth" placeholder="Date of Payment:"></ion-input>
    <ion-input [(ngModel)]="cardinfo.expYear" placeholder="Amount:"></ion-input>
    <ion-input [(ngModel)]="cardinfo.cvc" placeholder="cvc"></ion-input>
    <ion-button expand="full" color="dark" (click)="pay()">
      Pay Via Gcash
    </ion-button>
  </div>
</ion-content>
