<ion-header>
  <ion-toolbar color="danger">

    <ion-title>
      Card Details
    </ion-title>

    <ion-button color="dark" size="small" slot="end" [routerLink]="['/home']">
      Home <ion-icon name="home"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-button expand="full" color="dark" (click)="pay()">
      <a href="https://connect.paymaya.com/login/">Pay Via Paymaya</a>
      <ion-button expand="full" color="dark" (click)="pay()">
      <a href="https://m.gcash.com/gcashapp/gcash-promotion-web/2.0.0/index.html#/">Pay Via Gcash</a>
    </ion-button>
    </ion-button>
  </div>
</ion-content>
